EXPO_PUBLIC_APPWRITE_ENDPOINT="https://fra.cloud.appwrite.io/v1"
EXPO_PUBLIC_APPWRITE_PROJECT_ID="6aa3924400335d9b8081"
EXPO_PUBLIC_APPWRITE_DATABASE_ID="6aa3be7c000c1ac3d073"
EXPO_PUBLIC_APPWRITE_USER_PROFILES_COLLECTION_ID="user_profiles"
EXPO_PUBLIC_APPWRITE_GALLERIES_COLLECTION_ID="6aa3be7c000c1ac3d074"
EXPO_PUBLIC_APPWRITE_REVIEWS_COLLECTION_ID="6aa3be7c000c1ac3d075"
EXPO_PUBLIC_APPWRITE_AGENTS_COLLECTION_ID="6aa3be7c000c1ac3d076"
EXPO_PUBLIC_APPWRITE_PROPERTIES_COLLECTION_ID="6aa3be7c000c1ac3d077"
EXPO_PUBLIC_APPWRITE_BUCKET_ID="6aa3be7c000c1ac3d078"
